{% extends 'base.html.twig' %}
{% block body %}
    <div style="display:block; width:100%;">
        <div id="Lewy" style="width:25%; float: left; display: inline-block;">
            <ul>
                <li><a href="" id="menu">Różne kontrolki HTML</a> </li>
                <li><a href="" id="employees">Tabela Pracowników</a> </li>
                <li><a href="" id="invoices" >Tabela Faktur VAT</a> </li>
                <li><a href="" id="delegations">Tabela Delegacji BD</a> </li>
                <li><a href="" id="clients">Dane Kontrahentów</a> </li>
            </ul>
        </div>
        <div id="Prawy" style="width:75%; float: left; display: inline-block;">Your content</div>
    </div>
{% endblock %}