

<form id="menu">
    <label for="tax">NIP:</label><br>
    <input type="text" id="tax" name="tax"><br>
    <label for="regon">REGON:</label><br>
    <input type="number" id="regon" name="regon"><br>
    <label for="name">NAZWA:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="date">DATA POWSTANIA:</label><br>
    <input type="text" id="date" name="date"><br>
    <label for="street">ULICA:</label><br>
    <input type="text" id="street" name="street"><br>
    <label for="property_num">NUMER DOMU:</label><br>
    <input type="text" id="property_num" name="property_num"><br>
    <label for="flat_num">NUMER MIESZKANIA:</label><br>
    <input type="text" id="flat_num" NAME="flat_num"><br>
    <label for="comments">UWAGI:</label><br>
    <textarea id="comments" name="comments">
    </textarea><br>

    <label>Wybierz kolor
        <select>
            <option value="" selected disabled hidden></option>
            <option>zielony</option>
            <option>niebieski</option>
            <option>szary</option>
            <option>turkusowy</option>
            <option>granatowy</option>
            <option>czerwony</option>
            <option>biały</option>
        </select><br>
    </label> <label>VAT
        <select>
            <option value="" selected disabled hidden></option>
            <option>ZW</option>
            <option>NP.</option>
            <option>0%</option>
            <option>3%</option>
            <option>8%</option>
            <option>23%</option>
        </select>
    </label>
    <ol>
        <li>Element</li>
        <li>Element</li>
        <li>Element</li>
    </ol>


</form>
